<% provide(:title, 'Log In') %>

<div class="row">
  <div class="span-6 offset-5">

    <h1 class="page-header">Sign in to CrowdCode</h1>

    <div class="login-container">
      <div class="github-container">
        <a href="/auth/github" class="btn-auth btn-github">Sign in with GitHub</a>
      </div>

      <p>Or with a CrowdCode account:</p>

      <%= form_tag sessions_path, class: "form-validate" do %>

        <%= flash_error %>

        <%= label_tag :email %>
        <%= email_field_tag :email, '', autofocus: true, placeholder: 'Email' %>

        <%= label_tag :password %>
        <!-- <span class="help-text" style="font-weight: bold;"> -->
          <%#= link_to "(Forgot password?)", forgot_password_path %>
        <!-- </span> -->
        <%= password_field_tag :password, '', placeholder: 'Password' %>

        <%= submit_tag "Sign in", class: "btn btn-blue btn-full" %>

      <% end %>

      <!--<span class="form-suggestion">
        Don't have an account?
        <%#= link_to raw("Sign up for free &raquo;"), signup_path %>
      </span>-->

    </div>




  </div>
</div>
