<% provide(:title, 'Log In') %>

<div class="row">
  <div class="span-6 offset-5">

    <h1 class="page-header">CrowdCode</h1>

    <%= content_tag :h3, flash[:notice], class: 'auth-error' if flash[:notice] %>

    <div class="login-container">
      <div class="github-container">
        <%= github_signin_button %>
      </div>

      <div class="separator">
        <hr />
        <p>Or with a CrowdCode account:</p>
      </div>

      <%= form_tag sessions_path, class: "form-validate" do %>

        <%= flash_error %>

        <%= label_tag :email %>
        <%= email_field_tag :email, '', autofocus: true, placeholder: 'Email' %>

        <%= label_tag :password %>
        <!-- <span class="help-text" style="font-weight: bold;"> -->
          <%#= link_to "(Forgot password?)", forgot_password_path %>
        <!-- </span> -->
        <%= password_field_tag :password, '', placeholder: 'Password' %>

        <%= submit_tag "Sign in", class: "btn btn-full btn-blue" %>

      <% end %>

      <!--<span class="form-suggestion">
        Don't have an account?
        <%#= link_to raw("Sign up for free &raquo;"), signup_path %>
      </span>-->

    </div>

  </div>
</div>
