<% provide(:title, 'Sign Up') %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "mailcheck" %>
<% end %>

<div class="row">
  <div class="span-6 offset-5">

    <%= form_for @user, html: { class: 'form-validate' } do |f| %>

      <h1 class="form-title">Sign Up</h1>

      <%= render 'shared/errors', target: @user %>

      <%= f.label :username, "Username" %>
      <%= f.text_field :username, autofocus: true  %>

      <%= f.label :email %>
      <%= f.email_field :email %>
      <div id="hint"></div>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= submit_tag "Submit", class: "btn btn-blue btn-medium" %>

    <% end %>

    <span class="form-suggestion">Already have an account? <%= link_to raw("Log in! &raquo;"), login_path %></span>
  </div>
</div>
