<div class="ribbon">
  <% 2.times do %>
    <% 1.upto(5) do |i| %>
      <div class="segment segment-<%= i%>"></div>
    <% end %>
  <% end %>
</div>

<% if show_bar %>
  <header>
    <div class="container">
      <div class="row">
        <div class="span-16">

          <div class="logo"><%= link_to "CrowdCode", reviews_path %></div>

          <div class="header-links">
            <% if signed_in? %>
              <span class="left">Hello <span style="color: #3a84c5"><%= current_user.username %></span></span>

              <div style="position: relative; margin-left: 10px;" class="right">
                <a href="#" class="btn btn-secondary dropdown-toggle settings-toggle">
                  <%= image_tag "gear.png" %>
                  <span class="arrow arrow-down"></span>
                </a>

                <div class="dropdown-container" data-popup="true">
                  <ul>
                    <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                    <li><%= link_to "Log Out", logout_path %></li>
                  </ul>
                </div>
              </div>

            <% else %>
              <%= link_to "Sign In", login_path %>
            <% end %>
          </div>

          <div class="search-container">
            <%= form_tag search_reviews_path do %>
              <%= text_field_tag 'q', nil, :placeholder => 'Search' %>
              <%= submit_tag 'Search', class: 'btn btn-secondary' %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </header>
<% end %>
