<div class="ribbon">
  <% 2.times do %>
    <% 1.upto(5) do |i| %>
      <div class="segment segment-<%= i%>"></div>
    <% end %>
  <% end %>
</div>

<% if show_bar %>
  <header>
    <div class="container">
      <div class="row">

        <div class="span-16">
          <div class="logo"><%= link_to "CrowdCode", reviews_path %></div>

          <% if signed_in? %>
            <div class="header-links">
              Hello, <%= link_to current_user.username, "#" %>
            </div>
          <% end %>


          <div class="search-container">
            <%= form_tag "#" do %>
              <%= text_field_tag 'search', nil, :placeholder => 'Search' %>
              <%= submit_tag 'Search', class: 'btn btn-secondary' %>
            <% end %>
          </div>

        </div>

      </div>
    </div>
  </header>
<% end %>
