<div class="comment" data-id="<%= comment.id %>">
  <div class="comment-author"><%= comment.author.username %></div>
  <div class="comment-date"><%= comment.created_at.strftime("%B %d, %Y") %></div>
  <div class="comment-body"><%= raw comment.body %></div>
  <% if signed_in? %>
    <div class="actions">
      <a class="reply-button" href="#">Reply</a>
    </div>
  <% end %>

  <% if comment.children.present? %>
    <div class="nested_comments">
      <%= render :partial => 'reviews/comment', :collection => comment.children %>
    </div>
  <% end %>
</div>
