<% content_for :main do %>

  <div class="results-container">
    <% @reviews.each do |review| %>
      <div class="result">
        <div class="result-votes"><%= review.votes %></div>

        <div class="result-info">
          <h3><%= link_to review.title, review_path(review.rid) %></h3>
          <p><%= teaser(review) %></p>
        </div>

        <div class="result-date">
          <%= render_time review.created_at %>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate(@reviews) %>

<% end %>


<% content_for :sidebar do %>
  <div style="margin-bottom: 30px;">
    <%= link_to "Post A Snippet", new_review_path, class: 'btn btn-large btn-full btn-aqua' %>
  </div>
<% end %>
