<% content_for :javascript_includes do %>
  <%= javascript_include_tag "tag_autocomplete" %>
<% end %>

<% content_for :main do %>

  <h2>Post a Snippet</h2>

  <%= flash_error %>

  <%= form_for @review, html: { class: 'form-validate' } do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, placeholder: 'Title' %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <div class="tag-editor">
      <div style="overflow: auto">
        <span class="tags">
          <!-- <span class="tag">ruby</span> -->
        </span>
        <%= text_field_tag :tag_input, nil, placeholder: 'Enter tags', "data-validate" => false %>
      </div>

      <ul class="suggestions-list" data-popup="true">
        <!-- <li>rails</li> -->
      </ul>
    </div>

    <%= hidden_field_tag :tag_list %>

    <%= f.submit 'Submit', class: 'btn btn-blue btn-medium' %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <p>Some super useful FAQ stuff for submitting</p>
<% end %>
