<% content_for :main do %>
  <%= form_for @review, html: { class: 'form-validate' } do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, placeholder: 'Title' %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit 'Submit', class: 'btn btn-blue btn-medium' %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <p>Some super useful FAQ stuff for submitting</p>
<% end %>
