<% if @search.results.blank? %>
  <p class="result-blank">No results matched that search.</p>

  <%= form_tag search_reviews_path, class: 'search-form' do %>
    <%= text_field_tag 'q', params[:q], :placeholder => 'Search' %>
    <%= submit_tag 'Search', class: 'btn btn-secondary' %>
  <% end %>
<% else %>
  <h2 class="result-count"><%= @search.total %> results</h2>

  <div class="results-container">
    <% @search.each_hit_with_result do |hit, review| %>
      <div class="result">
        <h3><%= link_to review.title, review_path(review.rid) %></h3>
        <p><%= teaser(review) %></p>
      </div>
    <% end %>
  </div>

  <%= will_paginate(@search.hits) %>

<% end %>
