<% provide(:title, @review.title) %>

<% content_for :main do %>
  <div class="review" data-rid="<%= @review.rid %>">
    <% dir = @vote.fetch('dir', nil) %>
    <div class="votes-container">
      <a href="#" class="vote vote-up <%= 'vote-active' if dir == 'up' %>"></a>
      <span class="votes"><%= @review.votes %></span>
      <a href="#" class="vote vote-down <%= 'vote-active' if dir == 'down' %>"></a>
    </div>

    <h2><%= @review.title %></h2>
    <%= raw @review.body %>
  </div>

  <h2 style="margin-top:40px; border-bottom:1px solid #ddd; padding-bottom:5px">Comments</h2>
  <% @review.comments.each do |comment| %>
    <div style="border-bottom:1px solid #ddd; padding: 10px 10px 20px; margin-bottom: 10px;">
      <p style="margin-bottom: 10px;"><%= raw comment.body %></p>
      <div class="created_at"><%= comment.created_at.strftime("%b %d, %Y") %></div>
    </div>
  <% end %>

<% end %>

<% content_for :sidebar do %>
  <p>Something useful here</p>
<% end %>
