<% provide(:title, @review.title) %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "reviews" %>
<% end %>

<% content_for :main do %>
  <div class="review" data-rid="<%= @review.rid %>">
    <% if signed_in? %>
      <div class="votes-container">
        <a href="#" id="up" class="vote-up <%= 'vote-active' if @vote == 'up' %>"></a>
        <span class="votes"><%= @review.votes %></span>
        <a href="#" id="down" class="vote-down <%= 'vote-active' if @vote == 'down' %>"></a>
      </div>
    <% end %>

    <h2><%= @review.title %></h2>
    <%= raw @review.body %>
  </div>

  <h2 style="margin-top:40px; border-bottom:1px solid #ddd; padding-bottom:5px">Comments</h2>
  <% @review.comments.each do |comment| %>
    <div style="border-bottom:1px solid #ddd; padding: 10px 10px 20px; margin-bottom: 10px;">
      <p style="margin-bottom: 10px;"><%= raw comment.body %></p>
      <div class="created_at"><%= comment.created_at.strftime("%B %d, %Y") %></div>
    </div>
  <% end %>

  <%= form_tag comments_review_path(@review.rid), remote: true, html: { style: 'outline: 1px solid red' } do |f| %>
    <%= hidden_field_tag :parent_id %>

    <%= label_tag :body, "New Comment" %>
    <%= text_area_tag :body %>

    <%= submit_tag 'Submit', class: 'btn btn-blue' %>
  <% end %>
<% end %>


<% content_for :sidebar do %>
  <p>Something useful here</p>
<% end %>
