<% provide(:title, @review.title) %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "reviews" %>
<% end %>

<% content_for :main do %>
  <div class="review" data-rid="<%= @review.rid %>">
    <% if signed_in? %>
      <div class="votes-container">
        <a href="#" id="up" class="vote-up <%= 'vote-active' if @vote == 'up' %>"></a>
        <span class="votes"><%= @review.votes %></span>
        <a href="#" id="down" class="vote-down <%= 'vote-active' if @vote == 'down' %>"></a>
      </div>
    <% end %>

    <h2><%= @review.title %></h2>
    <%= raw @review.body %>
  </div>

  <div class="comments-container">
    <h2>Comments</h2>
    <% @review.comments.each do |comment| %>
      <div class="comment">
        <div class="comment-body"><%= raw comment.body %></div>
        <div class="comment-date"><%= comment.created_at.strftime("%B %d, %Y") %></div>
      </div>
    <% end %>
  </div>

  <%= form_tag comments_review_path(@review.rid), remote: true do %>
    <%= hidden_field_tag :parent_id %>

    <%= label_tag :body, "New Comment" %>
    <%= text_area_tag :body %>

    <%= submit_tag 'Submit', class: 'btn btn-blue' %>
  <% end %>
<% end %>


<% content_for :sidebar do %>
  <p>Something useful here</p>
<% end %>
