<% provide(:title, @review.title) %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "reviews" %>
<% end %>

<% content_for :main do %>
  <div class="review" data-rid="<%= @review.rid %>">
    <% if signed_in? %>
      <div class="votes-container">
        <a href="#" id="up" class="vote-up <%= 'vote-active' if @vote == 'up' %>"></a>
        <span class="votes"><%= @review.votes %></span>
        <a href="#" id="down" class="vote-down <%= 'vote-active' if @vote == 'down' %>"></a>
      </div>
    <% end %>

    <h2><%= @review.title %></h2>
    <%= raw @review.body %>

    <div class="review-author">
      By: <%= @review.author.username %>
    </div>
  </div>

  <div class="comments-container">
    <h2>Comments</h2>
    <%= render :partial => 'reviews/comment', :collection => @review.parent_comments %>
  </div>

  <% if signed_in? %>
    <%= form_tag comments_review_path(@review.rid), remote: true, class: 'form-validate' do %>
      <%= hidden_field_tag :parent_id %>

      <%= label_tag :body, "New Comment" %>
      <%= text_area_tag :body %>

      <%= submit_tag 'Submit', class: 'btn btn-blue' %>
    <% end %>
  <% else %>
    <p><%= link_to "Sign in", login_path(return_url: request.fullpath) %> to post comments</p>
  <% end %>

<% end %>


<% content_for :sidebar do %>
  <p>Something useful here</p>
<% end %>
