<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title><%= yield(:title) + " |" if content_for?(:title) %> CrowdCode</title>
  <%= stylesheet_link_tag :crowdcode %>
  <%= csrf_meta_tags %>
  <!-- <link rel="shortcut icon" type="image/ico" href="/favicon.gif" /> -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <script type="text/javascript">
    // GA here
  </script>
</head>
<body>

  <%
    on_excluded_page = params[:controller] == 'sessions'
    main_class       = on_excluded_page ? '' : 'main'
  %>

  <%= render 'shared/header', show_bar: !on_excluded_page %>

  <div class="container <%= 'container-white' unless on_excluded_page %>">
    <% if content_for? :sidebar %>
      <!--
      <div class="row">
        <div class="span-16">
          <nav>Some nav links here</nav>
        </div>
      </div>
      -->
      <div class="row">
        <div class="span-12 <%= main_class %> bordered"><%= yield :main %></div>
        <div class="span-4 sidebar"><%= yield :sidebar %></div>
      </div>
    <% else %>
      <div class="row">
        <div class="span-16 <%= main_class %>"><%= yield %></div>
      </div>
    <% end %>

    <% unless on_excluded_page %>
      <div class="row">
        <div class="span-16">
          <footer>Hello World</footer>
        </div>
      </div>
    <% end %>

  </div>


  <%= javascript_include_tag :application %>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

</body>
</html>
