<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title><%= yield :title %> | CrowdCode</title>
  <%= stylesheet_link_tag :crowdcode %>
  <%= csrf_meta_tags %>
  <!-- <link rel="shortcut icon" type="image/ico" href="/favicon.gif" /> -->

  <script type="text/javascript">
    // GA here
  </script>
</head>
<body>

  <%#= render 'shared/header' %>

  <div class="container">

    <%= yield %>

    <%#= render "shared/footer" %>

  </div>

  <%= javascript_include_tag :application %>
  <%= yield :javascript_includes %>

</body>
</html>
