<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title><%= yield :title %> | CrowdCode</title>
  <%= stylesheet_link_tag :crowdcode %>
  <%= csrf_meta_tags %>
  <!-- <link rel="shortcut icon" type="image/ico" href="/favicon.gif" /> -->

  <script type="text/javascript">
    // GA here
  </script>
</head>
<body>

  <% if current_page? root_path %>
    <%= yield %>
  <% else %>
    <%= render 'shared/header' %>

    <div class="container">
      <% if content_for? :sidebar %>
        <div class="row">
          <div class="span-11 main"><%= yield :main %></div>
          <div class="span-5 sidebar"><%= yield :sidebar %></div>
        </div>
      <% else %>
        <div class="row">
          <div class="span-16 main"><%= yield %></div>
        </div>
      <% end %>
    </div>

    <%= render "shared/footer" %>
  <% end %>

  <%= javascript_include_tag :application %>
  <%= yield :javascript_includes %>

</body>
</html>
